---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

#{% include base_path %}


#{% for post in site.portfolio %}
#  {% include archive-single.html %}
#{% endfor %}



Selected Publications
Journal Articles
Ruoyu Xu, Xiaoqiang Ji, Chongfeng Liu, Jiafan Hou, Zhongzhong Cao, and Huihuan Qian. Design and Control of a Wave-Driven Solar Tracker. IEEE Transactions on Automation Science and Engineering, Early Access, 2022.
Kun Bai, Ruoyu Xu, Kok-Meng Lee, Wang Dai, and Yang Huang. Design and development of a spherical motor for conformal printing of curved electronics. IEEE Transactions on Industrial Electronics, 65(11), 9190-9200, 2018.
Kun Bai, Kok-Meng Lee, Jun Cao, Ruoyu Xu, and Lei Li. Design and decoupled compensation methods of a PM motor capable of 6-D force/torque actuation for minimum bearing reaction. IEEE/ASME Transactions on Mechatronics, 22(5), 2252-2264, 2017.
Conference
Ruoyu Xu, Xiaoqiang Ji, Jiafan Hou, Hengli Liu, and Huihuan Qian. A Predictive Control Method for Stabilizing a Manipulator-based UAV Landing Platform on Fluctuating Marine Surface. In 2021 IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS) (pp. 8625-8632), 2021.
Ruoyu Xu, Hengli Liu, Chongfeng Liu, Zhenglong Sun, Tin Lun Lam, and Huihuan Qian. A Novel Solar Tracker Driven by Waves: From Idea to Implementation. In 2020 IEEE International Conference on Robotics and Automation (ICRA) (pp. 8209-8214), 2020.
Ruoyu Xu, Chongfeng Liu, Hengli Liu, Zhenglong Sun, Tin Lun Lam, and Huihuan Qian. Design and optimization of a wave driven solar tracker for floating photovoltaic plants. In 2019 IEEE/ASME International Conference on Advanced Intelligent Mechatronics (AIM) (pp. 1293-1298), 2018.

